<!DOCTYPE html>
<html>
<head>
    <title>Digit Recognizer</title>
    <style>
        body { font-family: Arial, sans-serif; text-align: center; }
        canvas { border:1px solid #000; margin-top: 20px; }
        button { margin-top: 10px; font-size: 16px; padding: 5px 10px; }
    </style>
</head>
<body>
    <h1>Draw a digit</h1>
    <canvas id="drawCanvas" width="280" height="280"></canvas>
    <div id="prediction">Prediction: </div>
    <button id="clearBtn">Clear</button>
    <button id="predictBtn">Predict</button>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
